[2017-11-29 14:38] jdekonin opened #7 "Failure/hang in compile on RHEL7 PPCLE and x86"
I am attempting to compile on a rhel7.2 ppcle machine and getting this error.

[code]

The SDK I am using is:
[code]

It appears that OpenJ9 compilation (native only??) is complete; I don't see any Object or String class within the $openjdk/build/ directory.  When I use openjdk7 (b95) I don't have this issue, but 'make images' hangs at 'Creating images/lib/jsse.jar'.  Performing top shows that gma

[2017-11-29 15:39] pshipton commented on #7
I wonder if the vm.jar (which contains Object) used by IBM builds is causing the problem. You could try putting the contents of vm.jar into the rt.jar and see if that resolves the problem.

[2017-11-29 21:27] jdekonin commented on #7
That doesn't work either @pshipton. I also tested updating make as well as using openjdk8(b151) as a bootjdk with no positive outcomes.

This is what is running at the time of a hang:
[code]

Top reports 20643 as the pid that has 100% CPU.

Adding debug logging and I believe this is where its hanging.
[code]

[2017-11-30 11:45] andrew-m-leonard commented on #7
This is a known issue when trying to use IBM boot jvm to build, due to corba and IBM orb differences I think. Adopt discovered this originally, hence they use openjdk7 to build as per the docker image.

[2017-11-30 13:59] jdekonin commented on #7
Can you please point me at a functioning docker image for rhel7 or is there an existing build on adoptopenjdk that I am missing?

[2017-11-30 17:58] pshipton opened #8 "Java code for dtfj, dtfjview, traceformat is not built"
The Java 8 build doesn't build the dtfj, dtfjview or traceformat java code.

While the IBM SDK creates three separate jar files (dtfj.jar, dtfjview.jar, traceformat.jar) and put them into the jre/lib directory, I don't think this is the problem place for them. These are diagnostic tools which don't need to be part of the runtime. I suggest they be put into the tools.jar instead.

The java source c

[2017-11-30 18:17] jdekonin commented on #7
I found an openjdk8 build on adopt that builds on fedora24.  I used those same steps to successfully build on my rhel7 machine using the same configure options as I used with the openj9 variant.

This would seem to imply that there is something amiss within the openj9-openjdk-jdk8 add-ons with make target dependencies.

[2017-12-04 10:45] groeges commented on #8
@pshipton Have added the Java Preprocessor to get missing code but I am having issues getting code to compile (as separate jars at the moment). Some of the code is complaining about some zOS classes/code even though I am running on a xLinux machine. Who is best person to help me resolve this?

[2017-12-04 11:29] groeges commented on #8
@pshipton  Looking at
[code]
it contains pre-processor lines that say:
[code]
but when running the pre-processor we use SIDECAR18-DTFJ, which doesn't set the fag for Sidecar19-SE :-(  and this will then add the zOS code.

Any ideas?

[2017-12-04 17:35] pshipton commented on #8
@keithc-ca was just chatting to me about this. I believe we can fix it by using the Sidecar18-SE-OpenJ9 flag.

[2017-12-04 19:22] keithc-ca commented on #8
Assuming my test builds encounter no issues, I'll open a PR soon.

[2017-12-04 19:59] pshipton commented on #8
Fixed by eclipse/openj9#746

[2017-12-04 20:11] groeges commented on #8
@pshipton, I presume this PR only resolved the issue I was seeing with the pre-processor and not the entire issue of the actual generation of the rtf.jar and others.

[2017-12-04 20:12] groeges commented on #8
Meant dtfj.jar

[2017-12-04 20:35] pshipton commented on #8
Yup, I've updated the comment

[2017-12-05 09:44] archanaNogriya opened #10 "Create automated process in the open to refresh extensions repo with openjdk changes"
Create job configuration on Eclipse openj9 CI (ci.eclipse.org/openj9) Jenkins to run "mirror" script - https://github.ibm.com/open-class-libraries/openjdk-build/blob/master/git-hg/update8.sh

(Note : this is bash script)

It requires the jenkins job to provide 2 variables

$GITHUB_IBM (eg https://github.ibm.com/open-class-libraries)
$J9REPOSITORY (eg openJDK8u152-b16-update-test)

[2017-12-05 09:45] archanaNogriya commented on #10
Something similar we tried in our local jenkin: https://hyc-rt-openjdk-jenkins.swg-devops.com/job/Update_OpenJ9/configure

[2017-12-05 09:45] archanaNogriya commented on #10
@AdamBrousseau @DanHeidinga  issues is now created here

[2017-12-05 10:02] archanaNogriya commented on #10
@AdamBrousseau , once we have this Job pipeline in place then before running directly into actual source code we can clone that repo locally and then run this job to make sure it is doing the right thing :). however issue would be I dont have access to run the job in Jenkin. So might need someone help to test until if we have option and i can do that.

[2017-12-05 12:59] groeges opened #11 "Build fails after `make clean` as unable to find openj9_version_info.h"
When running a `make all` after a `make clean` the build fils with the error below.
[code]
In order to get this to work the `bash configure` script needs to be run again.
This should not be required and a `make all` should be able to be run after a `make clean`

[2017-12-05 13:50] jdekonin commented on #11
This was reported in https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/11 and resolved in https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/46.

I expect the same changes would apply for this set of extensions.

[2017-12-05 13:51] groeges commented on #11
@jdekonin Thanks. I did know it was found in JDK9 and was looking for the issue when you posted your comment. Thanks. I will apply that change to JDK8.

[2017-12-05 17:39] groeges commented on #8
@keithc-ca To get the source included and built for the dtfj.jar etc I have been unable to just include  multiple pre-processer calls using different config entries, like SIDECAR18-DTFJ and SIDECAR18-DTFJVIEW. When I do this the code doesn't compile correctly.  The only way I have been able to get the code to be pre-processed and built correctly is to add the 3 source paths needed to the existing

[2017-12-05 19:47] keithc-ca commented on #8
That's not what we want. Instead, I think we need to add `-tag:define Sidecar18-SE-OpenJ9` to the argument list when running `CommandlineBuilder`.

[2017-12-05 19:59] groeges commented on #8
@keithc-ca The OpenJ9.gmk has this at present:
[code]
What does the `tag` do that you are proposing?
Why do we not want to just add the source paths to the config?

[2017-12-05 22:44] keithc-ca commented on #8
@pshipton Perhaps you forgot merging eclipse/openj9#746 which introduced uses of `Sidecar18-SE-OpenJ9` in DTFJ code?

[2017-12-05 23:00] pshipton commented on #8
Sure did, and I searched without having the latest changes loaded so I didn't find these references.

@groeges you can try with `-tag:define "PLATFORM-$(OPENJ9_PLATFORM_CODE);Sidecar18-SE-OpenJ9"` to see if that fixes some or all of the problems. I think the correct thing is to create new preprocessor configurations for OpenJ9 Java 8 builds to use, but I'll wait to see what else is wrong first.

[2017-12-05 23:19] pshipton commented on #8
Actually, I see what would be messing things up. The original preprocessor configs include source for java.base. I've create a single new config for OpenJ9 called SIDECAR18-TOOLS-OPENJ9 which only includes dtfj, dtfjview and traceformat, and fixes the Sidecar18-SE-OpenJ9 flag problem discussed above.

See eclipse/openj9#764

[2017-12-05 23:19] pshipton commented on #8
My testing shows this should compile against rt.jar

[2017-12-06 19:27] AdamBrousseau commented on #10
@archanaNogriya that script is in an internal repository that I do not have access to. Please push it to the openjdk8 repo (at least on your fork for now) so we can look and point at it.

[2017-12-07 09:51] archanaNogriya commented on #10
Ahh @AdamBrousseau let me do that.. sorry :) should have done that before

[2017-12-07 12:01] groeges commented on #11
The PR for this issue is: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/13

[2017-12-07 14:06] #11 closed

[2017-12-08 09:03] archanaNogriya commented on #10
@AdamBrousseau you can find the script here now https://github.com/ibmruntimes/openj9-openjdk-jdk8/tree/openj9/scripts

[2017-12-12 15:51] groeges commented on #8
Pull Request to build these classes and add them to tools.jar is: https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/16

[2017-12-12 16:58] pshipton opened #17 "SDK and JRE images should only contain production shared libraries"
There are a number of extra shared libraries in the SDK and JRE images. Only the required libraries should be included in these images.

- libjclse9_29.so is only for Java 9 and should just be excluded

- libgdb_j929.so is for development/debugging and should be put elsewhere

- the following are for testing, and should be put into another location so they can be used by the tests: libSharedClasse

[2017-12-13 23:17] pshipton opened #18 "Unsupported executables should be removed"
The Java 9 extensions remove the unsupported executables ibmruntimes/openj9-openjdk-jdk9#52 and they also should be removed from Java 8.

jcmd, jinfo, jmap, jps, jstack, jstat, jstatd
and jhat

[2018-01-03 11:54] archanaNogriya commented on #10
@AdamBrousseau , is there any updates in this? To update you regarding few action on this script, there needs to be changes made with regard to how it handles the tagging. Basically it needs to reset the head to the new tag level before doing the merge. Otherwise we could get ourselves into the position where our tagged levels are not the same as Oracle's tagged levels.

I have made changes what I

[2018-01-08 12:53] archanaNogriya commented on #10
- Guidance for running mirror script
 -- Install Mercurial:
[code]
-- Obtain git-remote-hg Mercurial plugin
[code]
-- Getting latest git
Note- since merge option --allow-unrelated-histories does not work in below git2.9 hence you need 2.9 or above version

[code]
Latest Script file with Tag code included
[update8.zip](https://github.com/ibmruntimes/openj9-openjdk-jdk8/files/1611552/update8.zip)

[2018-01-08 15:45] AdamBrousseau commented on #10
This is a bit of a roadblock. The machine I was planning on using to run this script was the master of our Jenkins instance. We do not own this machine and do not have root access on it. It currently has git version 1.9.0 and no Mercurial installed. We could open an Eclipse ticket to see if they will install hg and update git for us but no guarantees. We may also be able to install them to $HOME s

[2018-01-08 17:10] pshipton opened #20 "javadoc does not contain OpenJ9 extensions"
The javadoc created as part of the OpenJ9 build, found in `build/<platform>/docs`, does not contain the javadoc for OpenJ9 extensions:
 - Shared Classes, com.ibm.oti.shared
 - Management extensions, com.ibm.lang.management
 - gpu, com.ibm.gpu
 - Cuda4J, com.ibm.cuda
 - data access acceleration. com.ibm.dataaccess
 - JVM diagnostic utilities, com.ibm.jvm

See also eclipse/openj9#897

[2018-01-08 17:12] pshipton opened #21 "javadoc contains unsupported extensions"
The javadoc created as part of the OpenJ9 build, found in `build/<platform>/docs`, contains extensions which are not supported on OpenJ9.
 - OpenJDK management extensions, com.sun.management

See also eclipse/openj9#898

[2018-01-08 17:25] AdamBrousseau commented on #10
There is also a problem with your change to the script. You are referencing `$NEWTAG` before it is defined. Please open a pull request with your update so it is easier to discuss the changes.

[2018-01-09 10:44] archanaNogriya commented on #10
Sure @AdamBrousseau  , let me open the pull request.

[2018-01-10 15:25] sxa555 opened #23 "AO8/J9 s390x builds do not work out of the box"
I presume this is somewhere around the `redirector.c` code within `openj9`

if you download the s390x AO8/J9 builds from www.AdoptOpenJDK.net and try to run it you get this error:

[code]
Creating a symbolic link from `jre/lib/s390x/server` to `jre/lib/s390x/j9vm` allows the JVM to start up, so somewhere along the lines in the build it's still looking for `libjvm.so` in HotSpot's location.

[2018-01-10 15:28] pshipton commented on #23
Its caused by the jvm.cfg file, which needs to contain

[code]

[2018-01-10 15:43] sxa555 commented on #23
The one in `jdk/src/solaris/bin/s390x` looks correct, but that isn't the one that's in the final distribution

[2018-01-10 16:22] sxa555 commented on #23
I think this is because default (non-OpenJ9) build on `s390x` is `zero` not `server`, which means `JVMCFG_ARCH` in `CopyFiles.gmk` ends up as `zero` instead of `s390x` so it doesn't copy the correct file. @pshipton I'm not sure where the fix for this needs to be. I'm happy to do it, but want it in the "correct" repo wherever that is.

[2018-01-10 16:44] pshipton commented on #23
Strangely when we do builds they don't have the same issue, it picks up a jvm.cfg with `-j9vm KNOWN` and the build runs. We don't seem to be doing any special i.e. `bash ./configure --with-boot-jdk=/sdk/openjdk7/linux_390-64_cmprssptrs --enable-cuda --with-freemarker-jar=/tools/freemarker-2.3.8/lib/freemarker.jar && make images`.

We don't want to have modifications to OpenJDK so modifying `jdk/ma

[2018-01-10 16:47] sxa555 commented on #23
Agreed - so my PR does what we've done for the other platforms -modify the jvm.cfg that is copied so that it copies the "correct" one that the build system is trying to pick up. Of course it might be sensible to delete the `s390x` on to avoid confusion, but if it works in some environments that may not be the sensible solution.

Is it definitely working for you on openjdk8 (as opposed to openjdk9?

[2018-01-10 16:49] pshipton commented on #23
Yes.

[code]

[2018-01-10 16:51] pshipton commented on #23
Note `OpenJDK  - 00e69f9 based on Java8_SR5_FP7_20171215_1234_B373586` is a bug, see #22

[2018-01-10 17:01] DanHeidinga commented on #23
Is there a way to control the default such that our existing changes to the `closed/` directory can ensure the OpenJ9 build uses `s390x`?

[2018-01-10 17:16] sxa555 commented on #23
I'm not sure there's an easy way without modifying the common files in the AdoptOpenJDK repositories, but if you know of one (I'm not an expert in the openjdk build system) that would likely be preferable. If JVM_VARIANTS can be overridden to have SERVER in there then that would presumably work (although I can't comment on side effects of that approach ...)

[2018-01-10 17:25] sxa555 commented on #23
OK so `makejdk-any-platform.sh` in the `openjdk-build` repo is what sets `JVM_VARIANT` to `zero` on `s390x`.

Although if I'm reading the logic corrently it should set `JVM_VARIANT=server` when `BUILD_VARIANT=openj9` (Set via the `--variant openj9` parameter which we're passing to `makejdk-any-platform.sh`

[2018-01-10 17:57] sxa555 commented on #23
OK I believe the PR I've just submitted to openjdk-build will resolve this in a more satisfactory way assuming it doesn't have any side effects.

[2018-01-10 18:14] sxa555 commented on #23
Merged and I've kicked off a new bulid so hopefully we'll have a good nightly build available in the next couple of hours

[2018-01-10 23:43] sxa555 commented on #23
Fixed in https://github.com/AdoptOpenJDK/openjdk8-openj9-nightly/releases/download/jdk8u152-b16-20181001/OpenJDK8-OPENJ9_s390x_Linux_20181001.tar.gz and later builds. Closing

[2018-01-10 23:43] #23 closed

[2018-01-11 16:56] AdamBrousseau commented on #10
I managed to get the script working on my laptop. Need git > 2.9, hg and git-remote-hg. Took 1h40m to run.

@DanHeidinga what are your thoughts on where to run this?
My preference is master but we would need Eclipse to install newer git and hg on the master. Either that or we can look at installing to $HOME without root, which is what the instructions currently do for git-remote-hg.
Other option i

[2018-01-13 02:05] pshipton opened #27 "fix OPENJDK_TAG in java version output"
Java version output of openJ9 builds doesn't contain proper OPENJDK_TAG.

Proper output

[2018-01-17 18:13] AdamBrousseau commented on #10
I have created a [proxy_worker](https://ci.eclipse.org/openj9/computer/proxy_worker/) machine for another task out of our P pool we have access to. We can use this machine to run this script.

[2018-01-24 14:07] #27 closed

[2018-01-28 17:36] mbvreddy commented on #27
Version output of latest openjdk8-openj9 build is

openjdk version "1.8.0-internal"
OpenJDK Runtime Environment (build 1.8.0-internal-jenkins_2018_01_26_13_02-b00)
Eclipse OpenJ9 VM (build 2.9, JRE 1.8.0 Linux amd64-64 Compressed References 20180126_55 (JIT enabled, AOT enabled)
OpenJ9   - 5d59436
OMR      - ec2c3bf
OpenJDK  - ac9998c based on **jdk8u152-b16**)

[2018-01-29 14:00] archanaNogriya commented on #10
@AdamBrousseau I will let you know once we have merged openj9-openjdk-jd8 repo open, Due to merge conflict we had to do this manual.

What I think best we can do after this, taking latest merged one as base and do the test run using your jenkin job and see how that works.  Let me know what you think?

Also After getting this merge issue the question raise about error notification,  Is there way if

[2018-02-08 22:46] pshipton opened #38 "OPENJ9_TAG doesn't match SHA being built"
#36 added OPENJ9_TAG, which is intended to be the TAG associated with the current SHA being built for the OpenJ9 repo. However OPENJ9_TAG is the last tag available.

[2018-02-08 22:51] pshipton commented on #38
Created eclipse/openj9#1140 instead.

[2018-02-08 22:51] #38 closed

[2018-02-15 11:52] sxa555 opened #44 "xLinux builds of openjdk8-openj9 are failing"
Failures started on the 6th Feb build. Other platforms appear ok

[code]

[2018-02-15 13:26] ben-walsh commented on #44
I've opened https://github.com/eclipse/openj9/issues/1180 to cover.

[2018-02-16 12:55] sxa555 commented on #44
I have temporarily replaced the following symlinks on `bulid-joyent-ubuntu1604-x64-2` ONLY which appears to have resolved the problem since setting the `CC`/`CXX` variables before the build was run did not pick up the `-4.8` variants in all cases:
[code]
Pleas no-one close this issue until we have reverted these changes and either

(1) ansible playbooks are modified to handle this (I believe the p

[2018-02-20 14:29] FireBurn opened #45 "jdk8-openj9 build freezes for hours during build"
JDK8 details:

----- Build times -------
Start 2018-02-19 11:06:17
End   2018-02-19 17:47:35
00:00:17 corba
00:00:18 demos
00:01:59 docs
06:17:59 images
00:00:30 jaxp
00:01:30 jaxws
00:11:22 jdk
00:00:27 langtools
00:00:09 nashorn
06:41:18 TOTAL
-------------------------

The JDK9 build takes 12 minutes

The build log is as follows:

## Starting images
Creating images/lib/charsets.jar
Creating ima

[2018-02-20 14:31] FireBurn commented on #45
This is the script I'm using:

# Keep a note of the current working directory

JENKINS_DIR=$(pwd)
JDK=${JAVA_VERSION: -1}

if [[ "${JDK}" == "8" ]]; then
  JRELOC=j2re-image
  JDKLOC=j2sdk-image
else
  JRELOC=jre
  JDKLOC=jdk
fi

# Get Freemarker

wget http://mirrors.ukfast.co.uk/sites/ftp.apache.org/incubator/freemarker/engine/${FREEMARKER_VERSION}-incubating/binaries/apache-freemarker-${FREEMARK

[2018-02-20 14:54] FireBurn commented on #45
It freezes at:

Creating images/lib/jsse.jar

and gmake is using 100% CPU 1/4 cores on the machine.

[2018-02-23 20:56] jdekonin commented on #45
This would appear to be the same issue reported in #7

[2018-02-26 17:20] andrew-m-leonard opened #48 "src.zip does not contain J9 JCL source classes"
It would seem J9 JCL source is not included in the generated src.zip, only the base OpenJDK src...

[2018-02-27 13:35] andrew-m-leonard commented on #48
Fixed https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/50

[2018-02-27 13:35] #48 closed

[2018-02-27 14:49] ben-walsh commented on #45
@jdekonin Looks to be linux x64 from the script - "linux-x86_64-normal-server-release" - https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/45#issuecomment-366994889

@FireBurn Do you see the same problems without the corei7-avx flags on the configure script call ?

[2018-02-27 15:06] AdamBrousseau commented on #45
Right, we were wondering specifically which OS. We're assuming a flavour of RHEL as we've seen this issue there before. Don't have the issue on Ubuntu.

[2018-02-27 15:07] FireBurn commented on #45
On Tue, 27 Feb 2018, 15:06 AdamBrousseau, <notifications@github.com> wrote:

I don't have access at the moment but its RHEL7

[2018-02-28 10:09] sxa555 commented on #44
Seems that in trying to switch to using /usr/bin/gcc-4.8 the other platforms have now broken in the configure step (Possibly as a side effect of https://github.com/AdoptOpenJDK/openjdk-build/pull/228 but it's not immediately obvious why that would cause this failure)

https://ci.adoptopenjdk.net/job/openjdk8_openj9_build_ppc64le_linux/82/console
https://ci.adoptopenjdk.net/job/openjdk8_openj9_buil

[2018-02-28 16:35] pshipton opened #53 "Build failing on AIX"
As copied from the OpenJ9 Slack, from @sxa555 .
[code]

[2018-02-28 23:30] sxa555 commented on #53
Build was picking up the wrong branch by the look if it - using the openj9 0.8 branch it's ok

[2018-02-28 23:30] #53 closed

[2018-03-01 14:56] FireBurn commented on #45
Omitting the flags didn't change anything

Red Hat Enterprise Linux Server release 7.4 (Maipo)
gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)

[2018-03-06 16:38] jdekonin opened #57 "Number of cpus on AIX isn't determined correctly"
If smt is enabled the correct number of processors is not correct on configure.

There are a number of ways that can be used to determine actual number of processors, I found this works for me on the systems I have access to, smt enabled or not at time of configure

```--with-jobs='pmcycles -m | wc -l | awk '{print $1}''```

[2018-03-26 18:26] pshipton opened #67 "Put dtfj, dtfjview & traceformat code back into tools.jar"
#65 moved the dtfj, dtfjview & traceformat code out of tools.jar and into individual jar files which are added into the lib/ext directory.

I'm not convinced this is the correct way to go. Although having the jars in the ext directory is how it works for IBM Java 8, its not the correct way to do things. Putting these jars in the ext directory incurs some costs. Both in the disk size of a JRE (whic

[2018-03-29 13:13] pshipton opened #68 "Remove Eclipse licences added by #62"
#62 added Eclipse licenses to OpenJDK code. The license of the code cannot be changed and these licenses must be removed (although an IBM copyright can be added).

I also made a couple of other review comments in https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/138

@pdbain-ibm

[2018-03-29 14:04] #68 closed

[2018-05-02 21:11] AdamBrousseau opened #78 "Refresh repo from upstream"
There is a recent change for Windows that is blocking us from adding Windows JDK8 builds at https://ci.eclipse.org/openj9/
Please update the openj9 branch with the new new changes

Link to the change: http://hg.openjdk.java.net/jdk8u/jdk8u/rev/a05ed58d5ae0
[code]

Blocking:
- eclipse/openj9#1662
- eclipse/openj9#1778

[2018-05-02 21:42] keithc-ca commented on #78
@AdamBrousseau If you put that change into a pull request, I can merge it for you.

[2018-05-03 00:39] AdamBrousseau commented on #78
I'm guessing since the repo was just updated today, the change we need was not in a tagged level? I'm not familiar with how we pull updates.
@keithc-ca if we make that change ourselves, what will the process be when the actual change is pulled in? I think from a Git perspective, if we make the same exact change, then Git will just continue on.

[2018-05-03 12:22] pshipton opened #79 "openj9-notices.html is out of date"
The content of https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/openj9-notices.html is out of date wrt OpenJ9 https://github.com/eclipse/openj9/blob/master/longabout.html

The file is copied into the jdk and jre images when builds are created. Rather than update the copy, a better solution is to delete openj9-notices.html, and copy the OpenJ9 file to the images instead, which can be

[2018-05-03 13:47] keithc-ca commented on #78
Yes, the same change should just merge cleanly, but I'd like to hear from @andrew-m-leonard - hopefully he can confirm and answer your questions.

[2018-05-03 14:59] ben-walsh commented on #18
PR : https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/81

[2018-05-03 17:50] #18 closed

[2018-05-03 20:24] #78 closed

[2018-05-09 13:52] pshipton commented on #79
Note this affects all versions of the extensions.

[2018-05-14 11:08] adamfarley commented on #79
"Out of date" - I see that the date at the top of the jdk8 notices file is a month later than the date at the top of the openj9 notices file. When we consider the bits in the jdk8 file which are not in the openj9 file (like the bit near the top about Third Party Content, and the bit about libauxv), it looks like a merge would be more appropriate here.

However, Peter initial comment appears to exp

[2018-05-14 13:30] pshipton commented on #79
The idea is to use the original OpenJ9 file, rather than maintain a copy of it in all the extensions repos. A copy in the extensions repos is not required, the OpenJ9 file can be copied to the correct place in the images. This avoids having to update the copy any time the original file is updated. Already the copies were not updated in a timely fashion when the original changed, and it was only di

[2018-05-14 15:04] adamfarley commented on #79
Then do you advise we move the musl bit into the OpenJ9 file, or do without it when we copy the openJ9 file instead of the extensions notices file? I don't see a third option, unless we want to copy both files, or perform some kind of merge at build time, both of which sound fraught with complications.

[2018-05-14 17:05] pshipton commented on #79
I don't understand the question. The OpenJ9 file https://github.com/eclipse/openj9/blob/master/longabout.html contains the musl license. This file just needs to be copied into the images (see references to openj9-notices.html in OpenJ9.gmk) and renamed to openj9-notices.html and then https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/openj9-notices.html can be deleted.

[2018-05-15 10:49] pshipton commented on #79
libauxv is not included in OpenJ9 and was removed from the OpenJ9 longabout.html. It is used by OMR however the license was changes, see https://github.com/eclipse/omr/pull/2171

[2018-05-15 16:00] pshipton commented on #79
https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/openj9-notices.html is copied by #85

[2018-05-15 16:07] adamfarley commented on #79
So the next question is: do the extensions repositories require the notices files if they aren't used in the build? I see OpenJ9 has its own notices file independent of longabout.html.

[2018-05-15 16:10] pshipton commented on #79
For the record I don't believe it is necessary for the extensions projects to contain a copy of the OpenJ9 notices. The copy was originally added to meet the requirement to copy the OpenJ9 notices into the JDK and JRE images, which has now been resolved by directly copying the file from the OpenJ9 source. As such, https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/openj9-notices.html ,

[2018-05-16 14:27] pshipton commented on #20
I don't believe any of these were done. My understanding is that javadoc generation for Java 9 (and later I expect) doesn't work at all with OpenJ9.

[2018-05-16 14:49] pshipton commented on #79
The obsolete notices file is removed by:
- #86
- ibmruntimes/openj9-openjdk-jdk10#33

[2018-05-16 15:55] #79 closed

[2018-06-13 16:00] pshipton opened #94 "OpenJ9 0.9 release"
The OpenJ9 0.9 release is imminent, expected to have a rc1 candidate tag by 20180614. An appropriate branch needs to be created, and versions numbers for the release updated.

[2018-08-20 16:11] JasonFengJ9 opened #111 "Java 8 doesn't have fontconfig property files"
`Java 8 RI` has following `fontconfig` property files within `jre/lib`:
[code]
But `OpenJ9 Java 8` doesn't have these files, is this intentional?

related to: https://github.com/eclipse/openj9/issues/2659

Note: `Java 11 RI ea` doesn't have these files so far.

FYI: @DanHeidinga

[2018-08-23 15:42] DanHeidinga commented on #111
@andrew-m-leonard Can you take a look at this?

[2018-08-24 09:51] andrew-m-leonard commented on #111
OpenJDK  does not provide fontconfig for Linux, you need to install OS dependent libararies. OpenJDK does provide some for the following OS's:
[code]
The RedHat, SuSe,... ones you mention above were ones we used to create/install in "old world" IBMJava, we don't use those any more.

See: https://docs.oracle.com/javase/7/docs/technotes/guides/2d/enhancements70.html#linuxfonts

So if specific fonts

[2018-08-29 16:28] keithc-ca commented on #57
We might also factor in the SMT setting; it might make sense to use jobs=16 (as if smt=2) on a system like this:
[code]

[2018-09-14 17:27] sxa555 commented on #7
@jdekonin Can you verify whether upgrading to make 4.1 resolves this problem for you?

[2018-09-14 19:55] FireBurn commented on #45
No as specified before it's x64

On Fri, 14 Sep 2018, 18:22 Stewart X Addison, <notifications@github.com>
wrote:

[2018-09-15 06:33] enasser opened #115 "OpenSSL crypto support for OpenJ9-OpenJDK build"
The java implementation of crypto is not performing very well with openJ9-OpenJDK build. To improve the crypto performance, native implementation can be used.

OpenSSL is an open source crypto TLS/SSL  implementation [https://www.openssl.org/] and it is well established and stable native implementation used with enterprise applications. The source code is available at https://github.com/openssl/op

[2018-09-27 17:18] cwesMills commented on #7
I was able to build jdk8 on ppc64le cent7, when I updated make 3.8 to make 4.1.

[2018-10-01 13:02] jdekonin commented on #7
Awesome.  Thanks for verifying this @cwesMills

[2018-10-01 13:02] #7 closed

[2018-10-04 08:52] lumpfish opened #119 "Add openssl to the third party licenses file"
As a result of bundling openssl libraries with the jdk the openssl license needs to be added to the third party license notices file included in the built jdk.

[2018-10-04 14:59] mstoodle commented on #119
I'm not sure I understand this one.... openj9-openjdk-jdk8 is not bundling an openssl library with its source code, so why is this license needed?

It's AdoptOpenJDK that will be doing the bundling, by specifying the appropriate configure options. How is this different than the font libraries or certificates that are also built into the OpenJDK binaries at AdoptOpenJDK? Those things aren't include

[2018-10-04 15:14] andrew-m-leonard commented on #119
@mstoodle true... I guess if someone builds their own binary using the --with-openssl... then they ought to be aware...

[2018-10-04 15:15] andrew-m-leonard commented on #119
at the moment I am thinking of copying https://www.openssl.org/source/license.html to a new extensions licenses file, which then gets added to the built jdk...

[2018-10-04 15:36] mstoodle commented on #119
ok, that doesn't sound unreasonable to me

[2018-10-05 14:20] lumpfish commented on #119
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/121

[2018-10-05 14:20] #119 closed

[2018-10-05 16:54] #115 closed

[2018-10-05 20:00] pshipton opened #122 "openssl doesn't build on zlinux in OpenJ9 builds"
Re https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/112

On zlinux using
`get_source.sh --openssl-version=1.1.1`
configure with `--with-openssl=fetched --enable-openssl-bundling`

[code]

https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-linux_390-64_cmprssptrs-OpenJ9/44/console

[2018-10-05 20:04] pshipton commented on #122
@mbvreddy

[2018-10-05 20:13] pshipton opened #123 "openssl doesn't build on aix in OpenJ9 builds"
Re #112

On aix using
get_source.sh --openssl-version=1.1.1
configure with --with-openssl=fetched --enable-openssl-bundling

[code]
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-aix_ppc-64_cmprssptrs-OpenJ9/36/console

[2018-10-05 20:13] pshipton commented on #123
@mbvreddy

[2018-10-06 08:57] mbvreddy commented on #123
OpenSSL 1.1.1 crypto library name has changed. Due to which the issue is seen when --enable-openssl-bundling is used.

I will push the fix.

[2018-10-08 07:13] mbvreddy commented on #123
Directory structure in OpenSSL 1.1.0i
<img width="565" alt="screen shot 2018-10-08 at 12 19 00 pm" src="https://user-images.githubusercontent.com/13833097/46595734-7e548000-caf7-11e8-9f5b-ecedd4c9fad1.png">

Directory structure in OpenSSL 1.1.1
<img width="473" alt="screen shot 2018-10-08 at 12 20 24 pm" src="https://user-images.githubusercontent.com/13833097/46595745-8dd3c900-caf7-11e8-9ca0-7df9c

[2018-10-08 08:35] andrew-m-leonard commented on #45
Have you tried upgrading gmake?

[2018-10-08 08:36] andrew-m-leonard commented on #44
Presume fixed...

[2018-10-08 08:36] #44 closed

[2018-10-08 08:58] andrew-m-leonard commented on #10
we handle jdk8u manually when we need to

[2018-10-08 08:58] #10 closed

[2018-10-08 10:30] mbvreddy commented on #123
Created PR https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/124

[2018-10-08 10:42] andrew-m-leonard commented on #111
So correct OpenJDK doesn't have these, by design.

[2018-10-08 15:11] mbvreddy commented on #122
I ported above patch and tried to build openssl 1.1.1 and got another issue with missing symbols.. Investigating further

[2018-10-09 19:48] pshipton commented on #123
Fixed by #124

[2018-10-09 19:48] #123 closed

[2018-10-09 21:24] pshipton opened #126 "Fix whitespace in URLClassLoader"
#120 changed whitespace to be inconsistent with the rest of the file. The whitespace should be restored for consistency.

[2018-10-10 04:06] enasser opened #127 "No warning message when failed to load native crypto library and falls back to java crypto implementation."
If the native crypto library is not available in the library path, then  System.loadLibrary fails with an UnsatisfiedLinkError. In this situation, there is a fall back mechanism to the java crypto implementation by catching the exception. However, there is no warning messages issued while falling back and hence the user do not know the native crypto implementation is not used.

[2018-10-10 04:08] enasser commented on #127
Am working on this issue. Will raise a pull request once ready. Please assign the issue to enasser.

[2018-10-11 08:15] mbvreddy opened #128 "Native crypto library libjncrypto.so doesn't link with libcrypto.so.1.1 bundled with JDK"
libjncrypto.so library has dependency on OpenSSL crypto library libcrypto.so.1.1. OpenJ9-openjdk build has configure option `--enable-openssl-bundling` to facilitate bundling of OpenSSL crypto library with JDK. However, libjncrypto.so load fails even when libcrypto.so.1.1 is available alongside.

bhamaram@jcllnx01:/home/share/JDKs/OPENJ9/80/openssl/j2sdk-image/jre/lib/amd64$ ldd libjncrypto.so
	li

[2018-10-11 08:16] mbvreddy commented on #128
libjncrypto.so doesn't have RPATH set to $ORIGIN. As a result, it is not able to identify libcrypto.so.1.1.bhamaram@jcllnx01:/home/share/JDKs/OPENJ9/80/openssl/j2sdk-image/jre/lib/amd64$ readelf -d libjncrypto.so

[code]

[2018-10-11 08:18] mbvreddy commented on #128
After adding Linker flags `-Xlinker -z -Xlinker origin -Xlinker -rpath -Xlinker \$ORIGIN` while generating libjncrypto.so file, issue is resolved.

[code]

[code]

[2018-10-11 10:09] pshipton opened #129 "system tests failing on aix due to libcrypto could not be loaded"
https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/107/console
https://ci.eclipse.org/openj9/job/Test-extended.system-JDK8-aix_ppc-64_cmprssptrs/58/console
[code]

[2018-10-11 10:09] pshipton commented on #129
@mbvreddy

[2018-10-11 16:31] mbvreddy commented on #128
opened PR https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/130

[2018-10-11 20:44] #128 closed

[2018-10-11 20:45] #126 closed

[2018-10-12 12:00] sxa555 commented on #122
Indeed - have done so at adoptopenjdk (See https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/527) and installed on the machines

[2018-10-12 12:00] #122 closed

[2018-10-12 12:51] #127 closed

[2018-10-12 13:29] pshipton commented on #129
@mbvreddy @enasser any ideas about this one?

[2018-10-12 13:29] #94 closed

[2018-10-12 13:59] enasser opened #135 "AccessControlException from CipherCore when Security manager enabled"
The following test cases are failed with openssl:
com/sun/crypto/provider/Cipher/AES/TestAESCiphers/TestAESWithProviderChange.java.TestAESWithProviderChange
com/sun/crypto/provider/Cipher/AES/TestAESCiphers/TestAESWithRemoveAddProvider.java.TestAESWithRemoveAddProvider

https://hyc-runtimes-jenkins.swg-devops.com/view/Test_security/job/openjdk8_j9_jdksecurity1test_x86-64_linux/18/

Caused by: java

[2018-10-12 17:37] mbvreddy commented on #129
It is trying to load libcurl.a and its dependent library libcrypto.so (in libcrypto.a). libcrypto.a from OpenSSL 1.1.1 bundled with JDK has only libcrypto.so.1.1. It doesn't have libcrypto.so. Hence, it failed. I am wondering why libcrypto.a from JDK directory is loaded. It should load libcrypto.a that contains required version of libcrypto.so

[2018-10-12 17:43] mbvreddy opened #139 "Build fails with configure option --with-openssl=/path/to/pre-built/openssl --enable-openssl-bundling on unix platforms"
when --with-openssl=/path/to/pre-built/openssl --enable-openssl-bundling configure options are provided, build will copy libcrypto.so.1.1 to JDK directory. However, when directory structure of the openssl directory is different, configure couldn't check for openssl and thereby it fails. The same is fixed with #134. With this configure step is successful and fails when copying OpenSSL crypto librar

[2018-10-12 18:31] mbvreddy commented on #139
Failure details:

12:17:19 make[2]: *** No rule to make target '/home/jenkins/openssl-1.1.1/libcrypto.so.1.1', needed by '/home/jenkins/jenkins-agent/workspace/PullRequest-Compile-JDK8-linux_390-64_cmprssptrs-OpenJ9/build/linux-s390x-normal-server-release/jdk/lib/s390x/libcrypto.so.1.1'.  Stop.

[2018-10-12 19:52] #139 closed

[2018-10-15 02:54] pshipton commented on #129
@Mesbah-Alam @smlambert can you please help with this one. I suspect the tests are setting LIBPATH or similar to contain `Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/openjdkbinary/j2sdk-image/jre/lib/ppc64` before the system locations, and this is causing the problem.

[2018-10-15 14:56] Mesbah-Alam commented on #129
`openj9Settings.mk` does set LIBPATH here:  https://github.com/eclipse/openj9/blob/b03cae14f7322dc04e72874128adc8150d91028f/test/TestConfig/openj9Settings.mk#L80.

Looking at the code in the above mk file, one of the values being set in LIBPATH would be "$(JAVA_LIB_DIR)$(D)$(ARCH_DIR)$(D)$(VM_SUBDIR)", which, for this test would be: `Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/openjdkbinary/j2sd

[2018-10-15 16:05] pshipton commented on #129
@Mesbah-Alam this is a new problem as libcrypto was recently added to the VM directory.

- do we still need to add the VM directory to the LIBPATH?
- if so can we add it to the end rather than the beginning?

[2018-10-15 16:58] Mesbah-Alam commented on #129
@pshipton -

- I spoke to Sophia Guo, and she confirmed that lots of functional tests use this value in LIBPATH. So, we do need it.

- I have tried it, and it did not work, we still have the same error : https://hyc-runtimes-jenkins.swg-devops.com/view/Test_system/job/Grinder/495/console

[2018-10-15 17:50] pshipton commented on #129
@Mesbah-Alam Weird, because when I look at a machine the LIBPATH is set to /usr/lib and this directory does contain libcrypto.a. Are you sure the changes took effect in the grinder? I don't see any confirmation in the output.

[2018-10-15 17:53] Mesbah-Alam commented on #129
The changes should have taken effect, from the job output:

[code]

So it's checking out openj9 from the branch where the change was made..

[2018-10-15 18:05] Mesbah-Alam commented on #129
Logging into the machine `pll011.rtp.raleigh.ibm.com` , I also see the change present in `/home/j9build/workspace/Grinder/openjdk-tests/TestConfig/openj9Settings.mk` :

[code]

[2018-10-15 18:57] pshipton commented on #129
@keithc-ca @mikezhang1234567890 any ideas?

[2018-10-15 19:54] Mesbah-Alam commented on #129
Logging into the machine and issuing the make commands locally to compile the test makes it work. It could be a grinder issue which is causing the change to not get picked up! I've created a PR with the change https://github.com/eclipse/openj9/pull/3289/files

[2018-10-15 21:49] pshipton commented on #129
I think we are good, Mesbah's fix is working. The initial tests were not running with the fix.

[2018-10-16 02:07] pshipton commented on #129
Fixed by https://github.com/eclipse/openj9/pull/3289

[2018-10-16 11:08] pshipton commented on #129
Still failing, I've put comments into eclipse/openj9#3289

[2018-10-16 15:31] andrew-m-leonard opened #142 "Charset classes duplicated in rt.jar charsets.jar"
sun/awt/motif/X11GB2312$Decoder.class sun/awt/motif/X11GB2312$Encoder.class sun/awt/motif/X11GBK$Encoder.class sun/awt/motif/X11KSC5601$Decoder.class sun/awt/motif/X11KSC5601$Encoder.class are duplicated between rt.jar, charsets.jar, and localedata.jar

The problem is due to the CreateJars.gmk \$$$$ escaping and the extensions implementation of ListPathsSafely which results in $$ in the class name

[2018-10-17 14:47] Mesbah-Alam commented on #129
Still failing : https://ci.eclipse.org/openj9/job/Test-sanity.system-JDK8-aix_ppc-64_cmprssptrs/112/console

[2018-10-17 14:56] andrew-m-leonard opened #143 "openjdk_regression tests java/net/MulticastSocket fail due to timeouts on zLinux"
The following tests fail for OpenJ9 on zLinux due to the test specified timeouts, between 1 and 5 seconds, most likely being too short for the environment:
- java/net/MulticastSocket/Promiscuous.java.Promiscuous
- java/net/MulticastSocket/SetLoopbackMode.java.SetLoopbackMode
- java/net/MulticastSocket/Test.java.Test
- java/nio/channels/DatagramChannel/MulticastSendReceiveTests.java
- java/nio/chan

[2018-10-17 15:30] pshipton commented on #129
@Mesbah-Alam can you please scour the code again for any places we might have missed.

[2018-10-17 17:39] Mesbah-Alam commented on #129
I did another search. I can not find any other place where LIBPATH is being exported other than the places we have already changed. The problem seems to be somewhere else.

[2018-10-17 19:05] irinarada commented on #135
@enasser we need to know ASAP if this is mustfix for 0.11.0.

[2018-10-17 19:06] pshipton commented on #129
I believe its the VM itself which is setting the LIBPATH and causing this problem. The VM sets the LIBPATH as follows, and I expect anything exec'ed from the VM will inherit this.

`2CIENVVAR      LIBPATH=/bluebird/builds/bld_399771/sdk/ap6480/jre/lib/ppc64:/bluebird/builds/bld_399771/sdk/ap6480/jre/lib/ppc64/
compressedrefs:/bluebird/builds/bld_399771/sdk/ap6480/jre/lib/ppc64/j9vm:/bluebird/build

[2018-10-17 20:58] pshipton commented on #129
Disabling openssl on AIX https://github.com/eclipse/openj9/pull/3334

[2018-10-17 21:00] pshipton commented on #129
Created an issue at Adopt as well https://github.com/AdoptOpenJDK/openjdk-build/issues/658

[2018-10-18 04:55] #135 closed

[2018-10-18 10:30] sxa555 commented on #129
I've hit issues before with the AIX JVM replacing things in the `LIBPATH` and causing problems. Splatting `LIBPATH` before the operations spawned from java would work too. Disabling it seems a bit drastic though - could we not just stop it bundling, or even just require the user to manually adjust the `LIBPATH` if they want to use it?

[2018-10-18 15:32] pshipton commented on #129
@sxa555 We could just stop bundling. This will cause the VM to go looking for a libcrypto.a I believe. If everything works correctly, it would typically find the wrong version on the system, fail to load the JNI library, and fail back to Java crypto code. There is some risk of it not working correctly and then I'm not sure what will happen, although @mbvreddy tells me it works. If you want to try

[2018-10-23 17:06] mbvreddy opened #153 "[OpenJ9#3413] Crash in GC due to incorrect arguments to ReleasePrimitiveArrayCritical() in NativeCrypto.c"
This issue is opened to fix the Crash issue reported in https://github.com/eclipse/openj9/issues/3413

[code]

Third argument to ReleasePrimitiveArrayCritical() should be the return value of GetPrimitiveArrayCritical()

[2018-10-23 18:31] keithc-ca opened #155 "Building compact profiles doesn't work"
[code]

[2018-10-25 01:35] #142 closed

[2018-10-26 00:01] #155 closed

[2018-11-01 15:59] pshipton opened #187 "Add support for OpenSSL 1.0.x"
Currently the OpenSSL support is only for the 1.1.x version. Since most OSes don't provide this atm, to work around it the OpenJ9 0.11.0 release builds bundle the openssl 1.1 library. This is not ideal since the JVM will not pick up new openssl libraries when they are available. It may be desired to use updated openssl libraries to get bug fixes or security updates. If the openssl library is found

[2018-11-01 16:01] pshipton commented on #187
@enasser @ashbm5

[2018-11-02 14:21] pshipton opened #188 "OpenJ9 builds do not include jsig.lib on Windows"
The jsig.lib file should be included in the lib directory.

[2018-11-02 14:26] pshipton opened #189 "OpenJ9 builds do not put libjsig.so / jsig.dll in the correct places"
Windows:
bin\jsig.dll

Linux/AIX:
lib/libjsig.so

The jsig file does not need to be in the compressedrefs/default directory.

[2018-11-02 14:29] pshipton opened #190 "vm directory for PPC LE is ppc64 but should be ppc64le"
In OpenJ9 PPC LE builds, the vm directory path uses ppc64, while it should be ppc64le. The OpenJDK builds use ppc64le.

[2018-11-08 13:46] pshipton opened #201 "Don't need jextract in bin"
#180 added jextract to the jre/bin directory, but I notice it's also in the bin directory. Since it's not a development tool, it doesn't need to be in the bin directory.

[2018-11-08 13:46] pshipton commented on #201
@keithc-ca

[2018-11-08 15:14] keithc-ca commented on #201
There's already a large number of executables in both directories (e.g. java, javaw, javaws, pack200, unpack200, etc.): is this a significant concern?

[2018-11-08 21:04] pshipton commented on #201
Significant no. Just wrong.

[2018-11-09 21:39] #201 closed

[2018-11-12 16:37] keithc-ca commented on #189
Given that https://github.com/eclipse/openj9/issues/2100 has been closed, I expect the answer to this will be to back-port the makefile patterns used in Java 11+ which will mean none of the test artifacts will be included in a JRE or JDK image.

[2018-11-14 20:40] #153 closed

[2018-11-15 19:49] corrieb opened #209 "Change to use OpenSSL by default causes SSLHandshakeExceptions in services"
This is related to the following commit: https://github.com/ibmruntimes/openj9-openjdk-jdk8/commit/6eea72c79f7a510e41087699e47b90f53ca1bca0#diff-fd91f51d4e7b6cdf50c66e28e4a5d7b1

Issue was introduced in the following builds:

*** GOOD ***
root@photon-machine [ /usr/java ]# jre18/bin/java -version
openjdk version "1.8.0_192"
OpenJDK Runtime Environment (build 1.8.0_192-201810180419-b12)
Eclipse Ope

[2018-11-15 20:00] corrieb commented on #209
Here's some more background on the issue.

I would expect that a performance enhancement such as this would be expected to be introduced completely transparently. However, in our services it caused major regressions in that the services were no longer able to establish SSL connections with each other. Clearly there's a workaround in the Java property provided, but this is the kind of thing that ot

[2018-11-15 20:18] corrieb commented on #209
Hi @pshipton BTW. Long time no speak :)

[2018-11-15 20:34] pshipton commented on #209
@corrieb Hi.

@ashbm5 @enasser @mbvreddy  fyi

[2018-11-15 21:12] corrieb commented on #209
Happy to further triage. Just have to be careful about all sorts of cert contents being dumped into our logs.

[2018-11-17 14:48] charliegracie commented on #209
I believe this is the same issue as #3637 and #3618

[2018-11-19 14:41] mstoodle commented on #209
It appears most of the tracking of this issue is happening under https://github.com/eclipse/openj9/issues/3637 so probably best to track it there. I will leave this issue open so we can verify that the fix for 3637 does, in fact, resolve @corrieb reported issue.

[2018-11-19 16:48] mbvreddy commented on #209
issue is caused because 128 bit cipher is used to encrypt & decrypt for key length of 256 bits. Changing it to use 256 bit AES cipher resolves the issue. PR #213 has been opened. For now, it is marked as WIP to assess different scenarios. I will soon remove the WIP tag.

[2018-11-19 21:21] corrieb commented on #209
I can recreate. What are the steps to reconfiguring to use 256 bit cipher?

[2018-11-19 21:49] pshipton commented on #209
@corrieb the WIP PR to make the change is #213, you'd have to create your own OpenJ9 build that includes this change.

[2018-11-20 19:44] charliegracie commented on #209
Hi @corrieb this Issue was tagged in the PR which should resolve your issue so this Issue was closed automatically.

You can grab a [JDK](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-20-19-25/OpenJDK8U-jdk_x64_linux_openj9_2018-11-20-19-25.tar.gz) or a [JRE](https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2018-11-20-19-25/OpenJDK8U-jre

[2018-11-21 09:44] Paritoshk7 opened #214 "Add transactional memory (TM) support for ConcurrenLinkedQueue."
Initially TM (transactional memory) support was added to CLQ (ConcurrenLinkedQueue) and CHM (ConcurrentHashMap). However, further testing didn't show significant improvements with CHM, and changes for CHM were not added to IBM java 8, however CLQ is manintained in IBM Java 8.

This was discussed under the following Slack archive -
https://ibm-cloud.slack.com/archives/C401VJBD2/p1539375869000100

S

[2018-11-29 01:09] corrieb commented on #209
Thanks @charliegracie - yea this fixed it

[2018-12-05 03:54] #17 closed

[2018-12-13 14:28] pshipton opened #224 "osx jdk8 fails to build with openssl enabled"
https://ci.eclipse.org/openj9/job/PullRequest-Compile-JDK8-osx_x86-64_cmprssptrs-OpenJ9/7
Using `--with-openssl=fetched --enable-openssl-bundling`
[code]

[2018-12-13 16:02] pshipton commented on #224
The OpenJ9 Pull Request to enable openssl for osx jdk8 is https://github.com/eclipse/openj9/pull/4031

[2018-12-14 13:31] pshipton commented on #224
@enasser I think fixing this is a requirement for the OpenJ9 0.12 release. Can you please confirm it will get looked at.

[2018-12-14 13:52] enasser commented on #224
@pshipton Yes. Am currently working on it.. Will raise the PR soon..

[2018-12-17 18:49] pshipton commented on #224
Fixed by #226

[2018-12-17 18:49] #224 closed

[2018-12-20 14:52] lumpfish opened #228 "Create a staging branch to test latest updates from openjdk with openj9"
Currently when the latest updates from openjdk are merged into the repository they are applied directly to the openj9 branch.  This can cause issues for the eclipse/openj9 development process if the changes introduce new incompatibilities by causing the eclipse/openj9 build pipelines to fail until the issues are resolved.

This issue proposes a 'staging' branch which the eclipse/openj9 project can

[2019-01-10 13:57] andrew-m-leonard commented on #111
This is as by OpenJDK design.

[2019-01-10 13:57] #111 closed

[2019-01-10 13:58] andrew-m-leonard commented on #45
Please re-open if this is still seen as an issue...

[2019-01-10 13:58] #45 closed

[2019-01-10 14:08] andrew-m-leonard commented on #57
This should be turned into an openjdk_contribution issue.

[2019-01-30 20:58] JasonFengJ9 opened #256 "Share classes specific patch doesn't have comment // xxx-shared_classes_misc"
Share classes specific code patched to `OpenJDK` usually have comments such as `//IBM-shared_classes_misc` which is going to be changed to `//OpenJ9-shared_classes_misc` as per https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/113.

Unlike https://github.com/ibmruntimes/openj9-openjdk-jdk, https://github.com/ibmruntimes/openj9-openjdk-jdk12, and https://github.com/ibmruntimes/openj9-openjdk

[2019-01-30 21:19] hangshao0 commented on #256
It was patched by this commit:
https://github.com/ibmruntimes/openj9-openjdk-jdk8/commit/84153c75da79342522533371b19330181ab4ff4f#diff-d999e18ac8ce87ae32b06507e9727d04

The `shared_classes_misc `comments are missing there.

[2019-02-07 16:36] ben-walsh commented on #143
I've just excluded these tests on JDK11 too.

What's the real fix here ? Should a OpenJDK contribution be made so that those testing on less powerful test machines aren't seeing false failures ?

[2019-02-12 15:24] ben-walsh commented on #143
Further investigation determined that multicast networking is non-functional on the zLinux test machines - see https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/699

[2019-03-12 19:30] jdekonin opened #276 "JDK8 fails to compile on AIX 7.2"
https://ci.eclipse.org/openj9/view/Build/job/Build-JDK8-aix_ppc-64_cmprssptrs/1182/consoleFull

[code]
Machine is setup using Adopt playbooks and a change to the version of perl (5.24 -> 5.28).

I think this is using the bootjdk for generating these jars.  If that is the case its failing with both openjdk7 and Adopt OpenJ9 JDK8
[code]

[2019-03-16 14:29] keithc-ca commented on #188
Verified using https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08_openj9-0.12.1/OpenJDK8U-jdk_x64_windows_openj9_8u202b08_openj9-0.12.1.zip

[2019-03-16 14:29] #188 closed

[2019-03-16 15:57] keithc-ca commented on #189
Fixed in #211; verified via https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u-2019-03-14-16-57/OpenJDK8U-jdk_x64_windows_openj9_2019-03-14-16-57.zip

[2019-03-16 15:57] #189 closed

[2019-04-25 14:46] liketechnik opened #290 "Bash version check not working correctly in all cases"
The script closed/get_j9_source.sh checks that the bash version in use it at least 4.0. The relevant line (https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/01c0db5569ce245ee610d30515f857b2cd984f4e/closed/get_j9_source.sh#L44) checks that the bash version string (first line of `bash --version`) contains 'version 4.'.
The problem is that it checks for a lowercase 'v', which only works for the

[2019-04-25 15:32] liketechnik opened #291 "JDK8 fails to build on Gentoo"
Build Log: https://gitlab.com/snippets/1851154
I've successfully compiled the 'normal' openjdk8 on this machine, but openj9 fails for some reason.
I'm happy to provide any additional info you need.

[2019-04-26 16:22] DanHeidinga commented on #291
I took a look at the build log and the errors indicate libdwarf is missing.  Have you confirmed that the prereqs have been installed? See the docker files for a list of the required packages:
https://github.com/eclipse/openj9/blob/e7e58dd59a2a239d9105e1e93f2545f88d347451/buildenv/docker/jdk8/x86_64/ubuntu16/Dockerfile#L50-L51

[2019-04-26 16:43] DanHeidinga commented on #290
@liketechnik I've opened a PR that should address this issue - #293 - using a different approach.  If you able to validate it works in your environment I'd appreciate it.

[2019-05-14 20:14] liketechnik commented on #291
Yes, that's right. Sorry for the oversight on my side. The problem is, that Gentoo doesn't have a package for dwarf. I have a 'dwarf.h' header in /usr/include , but the build expects libdwarf.h to be available. I'm not sure if I could just symlink libdwarf.h to dwarf.h or if I'm missing something here.

[2019-05-14 20:32] liketechnik commented on #290
The check kind of passes, but I get the following error:
[code]

[2019-05-14 21:16] pshipton commented on #291
Could try it and see what happens. libdwarf is used for creating and reading diagnostics, if there is a problem in that area it won't affect running the JVM.

[2019-05-14 21:18] pshipton commented on #290
@keithc-ca

[2019-05-14 21:36] keithc-ca commented on #290
I'll have another look at this.
@liketechnik : What does `bash --version` say for the version that gives you grief?

[2019-05-14 21:38] keithc-ca commented on #290
I think the problem is that file uses the wrong double-quote `“` instead of `"`.

[2019-05-14 22:17] liketechnik commented on #290
It's `GNU bash, version 4.4.23(1)-release (x86_64-pc-linux-gnu)`

[2019-05-14 22:17] liketechnik commented on #291
Gonna try it out in the following days and report back here.

[2019-05-15 14:21] #290 closed

[2019-05-19 14:14] MCredbear opened #304 "I meet problem when I build it on aarch64"
(sorry,because I speak a poor English,so I have to speak Chinese)
如果我使用git命令下载源码，编译时会提示不支持aarch64架构，而下载源码包（zip）的话，不会提示这个问题，但编译时会因没有hotspot目录而失败

[2019-05-20 14:15] DanHeidinga commented on #304
@MCredbear Can you provide some details on what the issue is?

fyi @0xdaryl @knn-k

[2019-05-20 14:28] 0xdaryl commented on #304
The work to support and build AArch64 in OpenJ9 has (so far) been with OpenJDK 11 and beyond (not OpenJDK 8).  Build instructions for OpenJDK 11 are [here](https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V11.md#aarch64).

[2019-05-20 23:34] knn-k commented on #304
@MCredbear Are you compiling the source code on an aarch64 Linux machine or not?  Please show the commands you typed and the error messages.

[2019-05-21 17:02] MCredbear commented on #304
here is my log,is there any help?

p@localhost:~/Desktop/openj9-openjdk-jdk8-openj9$ ./configure --with-freemarker-jar=/root/freemarker.jar
fatal: 不是一个 git 仓库（或者任何父目录）：.git
fatal: 不是一个 git 仓库（或者任何父目录）：.git
fatal: 不是一个 git 仓库（或者任何父目录）：.git
fatal: 不是一个 git 仓库（或者任何父目录）：.git
Running custom generated-configure.sh
configure: Configuration created at Wed May 22 00:15:07 CST 2019.
configure: configure scr

[2019-05-21 17:46] JasonFengJ9 commented on #304
Did you try `bash configure --with-freemarker-jar=/root/freemarker.jar`? In addition, was there any error during `bash get_source.sh`?
`fatal: 不是一个 git 仓库（或者任何父目录）：.git` suggests some git initialization problem.

As per https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/304#issuecomment-494011103, _the work to support and build AArch64 in OpenJ9 has (so far) been with OpenJDK 11 and beyond

[2019-05-21 22:59] knn-k commented on #304
@MCredbear To build OpenJ9 OpenJDK 8 for aarch64, you will need to port aarch64-related code in  `custom-hook.m4` (and maybe some other files) from `openj9-openjdk-jdk11` to `openj9-openjdk-jdk8`.

[2019-05-23 13:18] DanHeidinga commented on #304
@JasonFengJ9 Can you port those Extensions repos PRs to the JDK11 repo?  That repo isn't part of OpenJ9 as we prefer OpenJDK changes be made upstream when possible and has a limited set of committers

[2019-05-23 13:26] MCredbear opened #306 "可以做一个用jdk8编译openj9的项目吗？"
由于某些原因，我必须使用jdk8

[2019-05-23 13:35] JasonFengJ9 commented on #306
Yes, you can https://github.com/eclipse/openj9/blob/master/doc/build-instructions/Build_Instructions_V8.md.

[2019-05-23 13:42] MCredbear commented on #306
但是它好像不能适用于arm64架构

[2019-05-23 13:50] JasonFengJ9 commented on #306
That's correct, no `ARM64` for `OpenJ9` JDK8 yet.

Additional note: we have internal `ARM32` build with `JDK8` so some framework is there.
[code]

[2019-05-23 14:16] pshipton commented on #306
in OpenJ9 itself, not in the openjdk8 extensions

[2019-05-24 14:18] MCredbear commented on #306
那你们将来会做一个用jdk8来编译openj9的分支吗？

[2019-05-24 14:56] JasonFengJ9 commented on #306
I think you meant `OpenJ9 JDK8 aarch64`, right?
As per https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/304#issuecomment-495214383, we are going to build it though no promise for the timeline.

[2019-06-05 14:57] groeges commented on #276
@jdekonin Do you know whether this is still an issue?

[2019-06-05 14:59] groeges commented on #228
@andrew-m-leonard Is this resolved?

[2019-06-05 15:00] groeges commented on #187
Completed. Closing.

[2019-06-05 15:00] #187 closed

[2019-06-05 15:06] groeges commented on #129
OpenSSL should now be working on all platforms. Closing issue.

[2019-06-05 15:06] #129 closed

[2019-06-05 15:08] groeges commented on #57
@andrew-m-leonard Think this was contributed. Can we close this issue?

[2019-06-05 16:40] andrew-m-leonard commented on #228
Fixed with new merge job and ci.eclipse OpenJDK Acceptance jobs

[2019-06-05 16:40] #228 closed

[2019-06-06 09:07] groeges commented on #57
Andrew Leonard stated in issue: https://github.com/ibmruntimes/openj9-openjdk-jdk11/issues/17  that `this has been contributed to openjdk (jdk13), but not backported.
We could try and request a backport, but I suspect they may not consider it a significant issue to backport`, so this is not currently available in jdk8.

[2019-06-06 12:48] groeges commented on #276
Having attempted a build of openj9_jdk8 on AIX 7.2 I can confirm that this does still seem to fail.

[2019-06-06 13:04] groeges commented on #276
However, I dont think that building OpenJDK8 on AIX 7.2 is supported.
See this website: https://wiki.openjdk.java.net/display/Build/Supported+Build+Platforms
As such I will close this issue.

[2019-06-06 13:04] #276 closed

[2019-06-11 08:04] smithwil opened #314 "jdmpview help refers to dtfjview"
In the AdoptOpenJDK with OpenJ9 Java 8 JDKs, running `jdmpview -help` prints text that calls the tool `dtfjview` and includes some example commands for running `dtfjview`. The executable in the JDK is named `jdmpview` so the help text should use that name to avoid confusion.

[2019-06-11 12:35] doveye commented on #314
FYI, this is the output I get for the jdmpview usage help on a Linux installation (Java 8 with OpenJ9 0.14.2 from AdoptOpenJDK):

[2019-06-21 16:00] #314 closed

[2019-07-04 11:16] lumpfish opened #320 "Create openj9-0.15.0 branch"
The eclipse/openj9 and eclipse/openj9-omr openj9-0.15.0-m1 milestone tags have been created.
An openj9-0.15.0 branch needs to be created in this repository to build the correct levels of openj9 and openjdk for the jdk8 July quarterly update.
The most recent jdk8 openj9 acceptance testing job https://ci.eclipse.org/openj9/job/Pipeline-OpenJDK8-Acceptance/15/ successfully merged openj9-staging into

[2019-07-04 13:13] pshipton commented on #320
@lumpfish confirmed.

[2019-07-04 13:55] lumpfish commented on #320
Branch openj9-0.15.0 created.
Also regenerated the autoconf files.

[2019-07-24 09:20] #320 closed

[2019-08-21 08:58] andrew-m-leonard commented on #143
I concur this is an Adopt infra issue with their zLinux machine:
 https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/143

[2019-08-21 08:58] #143 closed

[2019-08-23 12:11] andrew-m-leonard commented on #57
This has now been backported to jdk8u-dev, will appear in next jdk8u build.

[2019-08-23 12:11] #57 closed

[2019-10-21 14:29] MCredbear commented on #304
here is a new problem,see at my log
[log.txt](https://github.com/ibmruntimes/openj9-openjdk-jdk8/files/3751323/log.txt)

[2019-10-21 15:05] JasonFengJ9 commented on #304
[code]
This was caused by https://github.com/eclipse/openj9/blob/22cfe037dd717379cc338c0c0e70d58ddbb232c3/runtime/exelib/common/libargs.c#L311-L341

`aarch64` is not defined accordingly.

Note: due to other workload, porting to JDK 8 work was paused.

[2019-10-30 16:12] lumpfish opened #343 "Update extensions version for openssl 1.1.1d upgrade release"
An interim release is required at AdoptOpenJDK for Windows and Mac to include openssl 1.1.1d (update from 1.1.1a).
This AdoptOpenJDK release will be jdk8u232-b09.1_openj9-0.17.0, essentially a repackage of the jdk8u232-b09_openj9-0.17.0 release which includes openssl 1.1.1a.
This requires updates to the build scripts and playbooks at AdoptOpenJDK and also a change to the openj9-openjdk-jdk8 openj9

[2019-10-31 13:03] #343 closed

[2019-11-01 18:02] keithc-ca commented on #20
As noted in ibmruntimes/openj9-openjdk-jdk11#212, there are also files overridden by openj9 that contribute to javadoc: those should have the appropriate copyright notice in the html footer.
Perhaps the definitive definition of the list of overrides is the set of source files in preprocessed image of `openj9/jcl/src` (i.e. in `$(SUPPORT_OUTPUTDIR)/j9jcl_sources`).

[2020-01-08 11:09] lumpfish commented on #21
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/342

[2020-01-08 11:10] lumpfish commented on #20
Fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/342

[2020-01-08 11:25] SueChaplain commented on #20
Does this completely fix https://github.com/eclipse/openj9/issues/897 please?

[2020-01-08 12:12] lumpfish commented on #20
Yes, this also fixes https://github.com/eclipse/openj9/issues/897

[2020-01-08 13:46] #20 closed

[2020-01-08 13:46] #21 closed

[2020-01-27 22:20] pshipton opened #365 "Some IBM copyrights can be removed"
IBM copyright can be removed from the following files, they are the only modification to the file.

common/autoconf/platform.m4
jdk/make/lib/ServiceabilityLibraries.gmk

[2020-01-29 21:19] #365 closed

[2020-02-06 16:20] dsouzai opened #373 "Build Windows with .pdb files"
We need to have the option to build OpenJ9 on Windows with .pdb files. Every time we see an issue on Windows, we're told that we can just build Windows and then grab the .pdb files. It is *extremely* non-trivial to build on Windows, at least in my experience.

We should have the means to optionally copy over the .pdb files (that are generated anyway when we compile OpenJ9) over to the `j2sdk_image

[2020-02-06 16:39] keithc-ca commented on #373
Building on Windows isn't significantly different than other platforms in my experience.

However, I am actively working to unify OMR and OpenJ9 with the way that openjdk handles debug information so that one (or a build) can configure with `--with-native-debug-symbols=external` or `--with-native-debug-symbols=zipped`; then the resulting files (`.pdb` on Windows, `.debuginfo` or `.diz` on Linux) c

[2020-02-23 11:43] yangzhang-ibm-au opened #378 "JVM crashed with our application inside docker container"
Hi,

We are an IBM internal team, we have been seeing a JVM crash with a "Segmentation error" while running one of our applications inside a docker container with the latest stable release of the OpenJ9 (1.8.0_242). The application itself does not log any error to stdout, the JVM simply crashes. (please check the attached stderr logs).

This happened for multiple times when we triggered a series o

[2020-02-23 11:43] yangzhang-ibm-au commented on #378
**stderr info:**

[code]

[2020-02-24 00:39] JasonFengJ9 commented on #378
Note that this is OpenJ9 extension repo for Java 8 which contains OpenJDK JCL and some glue code for OpenJ9 JVM.
The crash occurred in JVM, https://github.com/eclipse/openj9/issues is the preferred place to open such an issue instead.

The JVM version in question is `20191017_442`, does it happen to a newer release version `jdk8u242-b08_openj9-0.18.1`  or latest nightly builds?

[2020-02-24 01:25] yangzhang-ibm-au commented on #378
@JasonFengJ9  Thanks for the info! We haven't tested other versions of OpenJ9 JVM yet, do you think it's worth a try?

[2020-02-24 05:14] yangzhang-ibm-au commented on #378
We just reproduced the issue with jdk8u242-b08_openj9-0.18.1 (OpenJDK build 1.8.0_242-b08). I will open a new issue in https://github.com/eclipse/openj9/issues.

[2020-02-24 05:26] yangzhang-ibm-au commented on #378
Created this issue: https://github.com/eclipse/openj9/issues/8636

[2020-02-24 12:50] #378 closed

[2020-02-26 21:19] keithc-ca commented on #373
I've opened the following pull requests as the first step towards making debug information available:
* https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/380
* https://github.com/ibmruntimes/openj9-openjdk-jdk11/pull/270
* https://github.com/ibmruntimes/openj9-openjdk-jdk14/pull/17
* https://github.com/ibmruntimes/openj9-openjdk-jdk/pull/174

They add a new make target: `debug-image` (which

[2020-02-28 20:06] keithc-ca commented on #373
https://github.com/eclipse/openj9/pull/8691 will make an archive of debug information available from jenkins builds.

[2020-03-10 12:26] keithc-ca commented on #373
https://github.com/AdoptOpenJDK/openjdk-build/pull/1597 will capture debug information archives for builds made available at https://adoptopenjdk.net.

[2020-05-05 16:23] superwhiskers commented on #291
hi. i've assembled an ebuild here in my portage overlay that also contains a libdwarf ebuild
https://github.com/superwhiskers/nya/tree/master/dev-java/openj9-openjdk-jdk8

[2020-05-07 14:42] keithc-ca commented on #373
I believe this is complete.

[2020-05-07 14:42] #373 closed

[2020-05-07 18:44] keithc-ca commented on #291
A symlink is unlikely to work. On my system `dwarf.h` and `libdwarf.h` are very different:
[code]

[2020-05-07 19:44] liketechnik commented on #291
To be honest I kinda lost track of this after not getting it to work. I'm really happy that @superwhiskers has a working ebuild now.

Because it seems to be no problem building it when (lib)dwarf is correclty installed I'll go ahead and finally close this issue.

[2020-05-07 19:44] #291 closed

[2020-05-07 19:45] liketechnik commented on #291
P. S.: Most importantly, thanks to the other commenters for their helpful input.

[2020-08-04 13:45] JasonFengJ9 opened #438 "OpenJDK8-Acceptance compilation failure : jdk/objs/libnet/ExtendedOptionsImpl"
https://ci.eclipse.org/openj9/job/Build_JDK8_ppc64_aix_OpenJDK8/52/console

[code]

[2020-08-13 14:57] austin0 commented on #438
Fix for this is passing on Hotspot (https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-aix-ppc64-hotspot/684/), further testing needed against Solaris/Mac before PR.

[2020-08-26 08:34] austin0 commented on #438
Fix for this has been accepted https://bugs.openjdk.java.net/browse/JDK-8251546.

[2020-09-25 15:05] keithc-ca commented on #438
That fix is now in the openj9 branch: closing.

[2020-09-25 15:05] #438 closed

[2020-10-20 13:26] Malaska678 opened #450 "Add shenandoah for better performance..."

[2020-10-20 16:43] pshipton commented on #450
This project supports OpenJ9. For OpenJ9 see the metronome gc policy: `-Xgcpolicy:metronome` is designed for applications that require precise response times. Garbage collection occurs in small interruptible steps to avoid stop-the-world pauses. This policy is available only on x86 Linux and AIX platforms.
https://www.eclipse.org/openj9/docs/gc/#metronome-policy

@dmitripivkine fyi

[2020-10-20 16:44] #450 closed

[2022-07-26 20:15] kgibm opened #595 "configure: error: Xcode 6, 9-12 is required to build JDK 8, the version found was 13.4.1"
I commented out this check and everything seemed to build correctly, so I'll submit a PR with an `|| 13` condition.

[2022-09-21 15:16] WilburZjh opened #611 "Update the OpenJDK exclude tests list for FIPS"
The FIPS mode has restrictive security configurations, so update the OpenJDK exclude tests list “ProblemList-fips.txt” for the FIPS testing.

[2022-09-21 16:16] WilburZjh commented on #611
### Exclude tests list from sanity.openjdk

**java.security.NoSuchProviderException: no such provider: SunRsaSign**

- java/math/BigInteger/ModPow65537.java.ModPow65537

**Existing Jars sign related**

- java/util/jar/JarFile/ScanSignedJar.java.ScanSignedJar
- java/util/jar/JarFile/TurkCert.java.TurkCert
- java/util/jar/JarInputStream/ScanSignedJar.java.ScanSignedJar
- java/util/jar/JarInputStream

[2022-09-21 16:18] WilburZjh commented on #611
### Exclude tests list from extended.openjdk

**java.security.KeyStoreException: JCEKS not found**

- sun/security/tools/jarsigner/TsacertOptionTest.java.TsacertOptionTest

**java.security.KeyStoreException: JKS not found
java.security.NoSuchAlgorithmException: JKS KeyStore not available**

- java/security/KeyStore/CheckInputStream.java.CheckInputStream
- java/security/KeyStore/KeyStoreBuilder.jav

[2022-09-21 17:55] WilburZjh commented on #611
detail explaination for #612

[2022-09-21 20:38] WilburZjh opened #613 "Could not find SunPKCS11-NSS-FIPS provider for FIPS mode"
Related to the issue [15656](https://github.com/eclipse-openj9/openj9/issues/15656#issuecomment-1242434788).

[2022-09-21 20:40] WilburZjh commented on #613
The issue occurs because it cant find the SunPKCS11-NSS-FIPS provider for FIPS mode after successfully enabling FIPS in the [SecureRandom.java](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/7d7aee1cc54a43eeb0292baab5224543a2d33d0d/jdk/src/share/classes/java/security/SecureRandom.java) file.

[2022-09-21 20:50] WilburZjh commented on #613
This `Could not find SunPKCS11-NSS-FIPS provider for FIPS mode` issue can be reproduced by replacing ${JAVA_HOME}/jre/lib/security/java.policy with the content in [jdk/test/sun/reflect/ReflectionFactory/security.policy](https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/openj9/jdk/test/sun/reflect/ReflectionFactory/security.policy) by running the following command.
`${JAVA_HOME}/bin/java -Dse

[2022-09-21 20:51] WilburZjh commented on #613
Now considering the difference between the content in original `${JAVA_HOME}/jre/lib/security/java.policy` file and  jdk/test/sun/reflect/ReflectionFactory/security.policy

[2022-09-21 21:02] pshipton commented on #613
Doesn't the `-Djava.security.debug=access:failure` tell you which permission failed?

[2022-09-21 21:04] pshipton commented on #613
It seems there are only two possibilities causing the failure.
[code]
[code]

[2022-09-21 21:52] pshipton commented on #613
Keeping AllPermission for the ext.dirs fixes it, or the following more specific permissions.
[code]

[2022-09-21 21:55] pshipton commented on #613
Although I saw them denied along the way to getting the full set, these ones aren't actually required.
[code]

[2022-09-22 02:58] WilburZjh commented on #613
Yes, I can see the denied message now.

[2022-09-22 21:26] WilburZjh commented on #613
After updating the security.policy file with these specific additional permissions.
[code]
The `Caused by: java.lang.RuntimeException: could not find SunPKCS11-NSS-FIPS provider for FIPS mode` problem is solved.

Here is the result from <<[grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_FIPS/137/console)>>.

The new problem is
`java.lang.RuntimeException: javax.net.ssl.SSLExceptio

[2022-09-24 19:12] sshuklao commented on #611
I am getting same `CKR_KEY_TYPE_INCONSISTENT` error when running Apache Spark 3.3.0 on IBM-Semeru-Runtime 11.0.16.1.
[code]

[2022-09-29 19:51] WilburZjh commented on #611
The traceStack for `javax/crypto/CipherSpi/TestGCMWithByteBuffer.java` is
[code]

In NSS docs version [3.15](https://firefox-source-docs.mozilla.org/security/nss/legacy/nss_releases/nss_3.15_release_notes/index.html), it is mentioned that for Cipher mode AES-GCM.
[code]

[2022-09-29 20:41] WilburZjh commented on #611
The traceStack for `sun/rmi/rmic/manifestClassPath/run.sh` is
[code]
If we assign a directory to `-Djava.ext.dirs` jvm options, the `ExtClassLoader` will not load the jar file under `${JAVA_HOME}/jre/lib/ext`. Therefore, this is not a FIPS relavant problem.

One solution that fix this issue is expanding -Djava.ext.dirs with {JAVA_HOME}/jre/lib/ext.

[2022-10-15 04:09] WilburZjh commented on #611
**sun.security.pkcs11.wrapper.PKCS11Exception: CKR_KEY_SIZE_RANGE
The minimum length for an MD5 HMAC key is 16 bytes.
However, this test uses a 4 bytes length key for HmacMD5.**
com/sun/crypto/provider/Mac/HmacMD5.java.HmacMD5